{% extends 'base.html.twig' %}

{% block title %}Mettre a jour de mot de passe{% endblock %}

{% block body %}
<div class="container">
<h1>Modification du mot de passe</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
<a type="button" class="btn btn-success" href="{{ path('account_profile') }}">Retour</a>
{{ form_end(form) }}
</div>
{% endblock %}