{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
	<div class="jumbotron">
		<h1 class="display-3">
			<small>Bienvenue sur
			</small>
			<b>FiiverBNB</b>
		</h1>
		<p class="lead">
			<h4>Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter de l'opportunité de mettre leur bien en location et de gagner de l'argent!!!</h4>
		</p>
		<hr class="my-4">
		<p class="lead">
			<h5>
				Vous êtes un voyageur? Et vous voulez savoir que sera votre prochaine destination?</h5>
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
		</p>
	</div>
</div>
{% endblock %}
